<div class="ps-md-4 pe-md-3 px-2 py-3 page-body">

    <div class="card">
        <div class="card-header">
            <h6 class="card-title mb-0">FICHA DEL CLIENTE</h6>
            <div class="dropdown card-action">
                <a href="#" class="card-fullscreen" data-bs-toggle="tooltip" aria-label="Card Full Screen"
                    data-bs-original-title="Card Full Screen">
                    <svg class="svg-stroke" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 16m0 1a1 1 0 0 1 1 -1h3a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1z"></path>
                        <path d="M4 12v-6a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-6"></path>
                        <path d="M12 8h4v4"></path>
                        <path d="M16 8l-5 5"></path>
                    </svg>
                </a>
            </div>
            <div class="w-100 mt-4">
                <ul class="row g-lg-4 g-2 list-unstyled li_animate mb-4 mb-lg-5">
                    <li class="col-xl-4 col-lg-5 col-md-5 col-12">
                        <div class="d-flex align-items-center">
                            <img class="avatar lg rounded-circle border border-3" src="imgs/profile_av.png"
                                alt="avatar">
                            <div class="ms-3">
                                <h4 class="mb-0 text-gradient title-font" id="spanNomCli">[Nombre]</h4>
                                <span class="text-muted small" id="spanEmailCli">[Email]</span>
                            </div>
                        </div>
                    </li>
                    <li class="col-xl-8 col-lg-7 col-md-7 col-12">
                        <ul
                            class="list-unstyled d-none d-lg-flex align-items-start justify-content-md-end p-0 mb-0 ps-5 ps-md-0 ms-4 ms-md-0">
                            <li class="px-lg-4 px-3 border-start">
                                <p class="text-uppercase text-muted small mb-1">MI ESTADO</p>
                                <div class="d-flex align-items-center"><span class="h4 mb-0">Status</span><a
                                        class="btn btn-sm btn-outline-success ms-2" href="">ACTIVO</a></div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav nav-tabs tab-card border-0 li_animate px-1 mb-0" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link px-0 me-4 fs-6 active"
                            data-bs-toggle="tab" href="#setting-general" aria-selected="true" role="tab"
                            tabindex="-1"><i class="fa fa-gear"></i><span class="ps-1">General</span></a></li>
                    <li class="nav-item" role="presentation"><a id="aTabVehiculos" class="nav-link px-0 me-4 fs-6"
                            data-bs-toggle="tab" href="#tabVehiculos" aria-selected="false" role="tab"><i
                                class="fa fa-car"></i><span class="ps-1">Vehículos</span></a></li>
                </ul>
            </div>
        </div>
        <div class="card-body z-1">
            <div class="tab-content">
                <!--[ Start:: general]-->
                <div class="tab-pane fade  active show" id="setting-general" role="tabpanel">

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-1">Información General</h5>
                        </div>

                        <form class="card border-0" style="background-color: ghostwhite;">
                            <div class="card-header pb-3">
                                <div class="col-12">
                                    <h6 class="card-title mb-0">Datos básicos</h6>
                                    <div class="row g-3 my-3">
                                        <div class="col-sm-3">
                                            <label class="form-label small text-muted">#Id</label>
                                            <input type="text" id="spanCliId" class="form-control" placeholder="#"
                                                disabled>
                                        </div>
                                        <div class="col-sm-9 col-md-5">
                                            <label class="form-label small text-muted">Nombre(*)</label>
                                            <input type="text" class="form-control" placeholder="Nombre"
                                                id="txtNombreCli" maxlength="100" required>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <label class="form-label small text-muted">Documento(*)</label>
                                            <input class="form-control" placeholder="Documento" id="txtDocumentoCli"
                                                maxlength="8" oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                                                required>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <label class="form-label small text-muted">Teléfono</label>
                                            <input type="text" class="form-control" placeholder="Teléfono"
                                                id="txtTelefonCli" maxlength="10">
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <label class="form-label small text-muted">Celular</label>
                                            <input type="text" class="form-control" placeholder="Celular"
                                                id="txtCelularCli" maxlength="16">
                                        </div>
                                        <div class="col-12 col-sm-7">
                                            <label class="form-label small text-muted">Dirección</label>
                                            <input type="text" class="form-control" placeholder="Dirección"
                                                id="txtDireccionCli" maxlength="50">
                                        </div>
                                        <div class="col-12 col-sm-5">
                                            <label class="form-label small text-muted">Email</label>
                                            <input type="email" class="form-control" placeholder="Email"
                                                id="txtEmailCli" maxlength="20">
                                        </div>

                                        <div class="col-md-4" style="display: none;">
                                            <label class="form-label small text-muted">País</label>
                                            <select class="form-control custom-select" id="selectPais">
                                            </select>
                                        </div>
                                        <div class="col-md-4" style="display: none;">
                                            <label class="form-label small text-muted">Ciudad</label>
                                            <select class="form-control custom-select" id="selectCiudad">
                                            </select>
                                        </div>
                                        <div class="col-md-4" style="display: none;">
                                            <label class="form-label small text-muted">Localidad</label>
                                            <select class="form-control custom-select" id="selectLocalidad">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body border-top">
                                <div class="row g-4">
                                    <div class="col-12">
                                        <h6 class="card-title mb-0">Tipo de Socio</h6>
                                        <div class="row g-3 my-3">
                                            <div class="col-md-4">
                                                <label class="form-label small text-muted">Tipo de Socio(*)</label>
                                                <select class="form-control custom-select" id="selectTipoSocio"
                                                    required>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label small text-muted">Convenio</label>
                                                <select class="form-control custom-select" id="selectConvenio">
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label small text-muted">Afiliación</label>
                                                <select class="form-control custom-select" id="selectAfiliacion">
                                                </select>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="form-label small text-muted">Observaciones</label>
                                                <textarea rows="5" class="form-control" placeholder="Observaciones"
                                                    id="txtObsCli"></textarea>
                                            </div>
                                        </div>
                                        <div class="col" style="text-align: center;">
                                            <label class="form-label small text-muted" style="float: left;">(*) Campo
                                                requerido</label>
                                            <button type="submit" class="btn btn-primary" style="width: 300px;"
                                                id="btnGuardarCliente"><span class="spinner-border spinner-border-sm"
                                                    style="margin-right: 5px;display:none;"></span>ACTUALIZAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!--[ Start:: Vehiculos ]-->
                <div class="tab-pane fade" id="tabVehiculos" role="tabpanel">

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-1">Mis Vehículos</h5>
                            <button type="button" class="btn btn-primary" onclick="agregarNuevoVeh()"
                                style="float:right; margin:10px">
                                <i class="bi bi-plus-circle"></i> Agregar vehículo
                            </button>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered nowrap table-striped text-center"
                                id="detalleMisVehiculos" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th>Matrícula</th>
                                        <th>Marca</th>
                                        <th>Modelo</th>
                                        <th>Color</th>
                                        <th>Año</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

<!-- Modal CREAR VEHÍCULO -->
<div class="modal fade" id="modalCrearVehiculo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <form id="formModal" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Nuevo vehículo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <label for="" class="col-sm-12 col-form-label floatInput">ID: <span id="txtIdVeh"></span></label>
                <label for="txtMatricula" class="col-sm-2 col-form-label floatInput">Matrícula:</label>
                <div class="col-sm-4 floatInput">
                    <input id="txtMatricula" type="text" placeholder="Matrícula" class="form-control"
                        oninput="this.value = this.value.replace(/[^a-zA-Z0-9]/g, '');"
                        onchange="this.value = this.value.toUpperCase()" maxlength="7">
                </div>
                <label for="slcMarca" class="col-sm-2 col-form-label floatInput">Marca:</label>
                <div class="col-sm-4 floatInput">
                    <select class="form-control" id="slcMarca" required>
                    </select>
                </div>
                <span class="col-12" style="height: 30px;"></span>
                <label for="txtModelo" class="col-sm-2 col-form-label floatInput">Modelo:</label>
                <div class="col-sm-4 floatInput">
                    <input id="txtModelo" type="text" placeholder="Modelo" class="form-control"
                        onchange="this.value = this.value.toUpperCase()" maxlength="60">
                </div>
                <label for="txtColor" class="col-sm-2 col-form-label floatInput">Color:</label>
                <div class="col-sm-4 floatInput">
                    <input id="txtColor" type="text" placeholder="Color" class="form-control"
                        onchange="this.value = this.value.toUpperCase()" maxlength="20">
                    <br>
                </div>
                <div style="display: flex; justify-content: space-around;">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio" checked>Auto/Camioneta
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">Minibus
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">Moto
                        </label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" id="btnGuardarVehiculo" onclick="guardarNuevoVehiculo()"
                    class="btn btn-primary"><i class="fa fa-save" style="margin-right: 5px;"></i>Guardar
                    Vehículo</button>
            </div>
        </form>
    </div>
</div>

<script>
    const cli = '<%= targetCli %>';

    cargarPaises();
    cargarCiudades();
    cargarLocalidades();
    cargarTipoCliente();
    cargarAfiliaciones();
    cargarConvenios();
    cargarMarcas();

    let Vehiculos = [];
    let globalIdCliente;


    document.addEventListener("DOMContentLoaded", function () {
        // Tu función aquí
        getCliente(cli);
    });

    async function getCliente(idBuscado) {
        const response = await fetch(urlBackend + "/clientes/" + idBuscado, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + token + ''
            }
        });
        let cli = await response.json();
        globalIdCliente = cli.idCliente;
        console.log(cli)

        // Carga de Inputs
        document.getElementById("spanNomCli").innerText = cli.nombre;
        document.getElementById("spanEmailCli").innerText = cli.email;
        document.getElementById("spanCliId").value = cli.idCliente;
        document.getElementById("txtNombreCli").value = cli.nombre;
        document.getElementById("txtDocumentoCli").value = cli.documento;
        document.getElementById("txtTelefonCli").value = cli.telefono;
        document.getElementById("txtCelularCli").value = cli.celular;
        document.getElementById("txtDireccionCli").value = cli.direccion;
        document.getElementById("txtEmailCli").value = cli.email;
        document.getElementById("selectPais").value = 0;
        document.getElementById("selectCiudad").value = 0;
        document.getElementById("selectLocalidad").value = 0;
        document.getElementById("selectTipoSocio").value = cli.idTipoCliente;
        document.getElementById("selectConvenio").value = cli.idConvenio;
        document.getElementById("selectAfiliacion").value = cli.idAfiliacion;
        document.getElementById("txtObsCli").value = cli.notas;
        document.getElementById("selectTipoSocio").selectedIndex = cli.idTipoCliente;
        document.getElementById("selectAfiliacion").selectedIndex = cli.idAfiliacion != 0 ? cli.idAfiliacion : 0;
        document.getElementById("selectConvenio").selectedIndex = cli.idConvenio != 0 ? cli.idConvenio : 0;
        if (cli.idAfiliacion != 0) {
            console.log("asd")
            document.getElementById("selectAfiliacion").disabled = false;
            document.getElementById("selectConvenio").disabled = true;
        }
        else if (cli.idConvenio != 0) {
            document.getElementById("selectAfiliacion").disabled = true;
            document.getElementById("selectConvenio").disabled = false;
        }
        cargarVehiculos(cli.idCliente);
    }

    $("#btnGuardarCliente").click((e) => {
        if (document.getElementsByTagName("form")[0].checkValidity()) {
            e.preventDefault();


            const cliActualizar = {
                "nombre": document.getElementById("txtNombreCli").value,
                "documento": document.getElementById("txtDocumentoCli").value,
                "direccion": document.getElementById("txtDireccionCli").value,
                "telefono": document.getElementById("txtTelefonCli").value,
                "celular": document.getElementById("txtCelularCli").value,
                "idTipoCliente": document.getElementById("selectTipoSocio").selectedIndex,
                "idAfiliacion": document.getElementById("selectAfiliacion").selectedIndex != 0 ? document.getElementById("selectAfiliacion").selectedIndex : null,
                "idConvenio": document.getElementById("selectConvenio").selectedIndex != 0 ? document.getElementById("selectConvenio").selectedIndex : null,
                "alta": true,
                "notas": document.getElementById("txtObsCli").value,
                "email": document.getElementById("txtEmailCli").value
            }

            fetch(urlBackend + "/clientes/" + globalIdCliente,
                {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + token + ''
                    },
                    method: "PUT",
                    body: JSON.stringify(cliActualizar)
                }).then(response => {
                    if (!response.ok) {
                        response.text().then(text => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Hubo un error al actualizar!',
                                text: text,
                                showConfirmButton: true,
                            });
                        })
                    }
                    return response.json();
                }).then(data => {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Cliente [' + data.nombre + '] actualizado!',
                        showConfirmButton: true,
                        timer: 2500
                    });

                })
                .catch(error => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Parece que no hay conexión con la base de datos!',
                        text: error,
                        showConfirmButton: true,
                    });
                }
                );

        }
    });


    document.getElementById("selectTipoSocio").addEventListener('change', (e) => {
        // Verifico si se selecciona Convenio (value 4) o socio directo (value 1)
        if (e.target.selectedIndex == 4) {
            document.getElementById("selectConvenio").disabled = false;
            document.getElementById("selectAfiliacion").disabled = true;
            document.getElementById("selectAfiliacion").selectedIndex = null;
            document.getElementById("selectConvenio").setAttribute("required", true);
            document.getElementById("selectAfiliacion").setAttribute("required", false);
        } else if (e.target.selectedIndex == 1) {
            document.getElementById("selectAfiliacion").disabled = false;
            document.getElementById("selectConvenio").disabled = true;
            document.getElementById("selectConvenio").selectedIndex = null;
            document.getElementById("selectAfiliacion").setAttribute("required", true);
            document.getElementById("selectConvenio").setAttribute("required", false);
        } else {
            document.getElementById("selectConvenio").disabled = true;
            document.getElementById("selectConvenio").selectedIndex = null;
            document.getElementById("selectAfiliacion").disabled = true;
            document.getElementById("selectAfiliacion").selectedIndex = null;
            document.getElementById("selectAfiliacion").setAttribute("required", false);
            document.getElementById("selectConvenio").setAttribute("required", false);
        }
    });


    // cargo table con los vehiculos si existen
    const detalleMisVehiculos = $('#detalleMisVehiculos').DataTable({
        info: false,
        paging: false,
        scrollX: true,
        scrollY: '400px',
        data: Vehiculos,
        bFilter: false,
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
            zeroRecords: "<div id='loader' style='padding: 20px;display: flex;flex-direction: column;align-items: center;'><p>No hay vehículos</p></div>"
        },
        columns: [
            { data: 'idVehiculo' }, { data: 'matricula' }, { data: 'nombreMarca' }, { data: 'modelo' }, { data: 'color' }, { data: 'año' },
            {
                render: function (data, type, row) {
                    return '<button class="btn btn-primary selecMisVehiculos" title="seleccionar" style="padding: 1px 8px;"><i class="fa fa-edit"></i></button>';
                }
            }
        ],
    });

    function cargarVehiculos(idCliente) {
        fetch(urlBackend + "/vehiculos/todosPorCliente/" + idCliente, { headers: { Authorization: 'Bearer ' + token + '' } }).then(
            r => r.json()
        ).then(r => {
            Vehiculos = r;
            detalleMisVehiculos.clear().draw();
            detalleMisVehiculos.rows.add(Vehiculos).draw();
            detalleMisVehiculos.columns.adjust().draw();

        });
    }

    // Agregar vehículo al Cliente
    function agregarNuevoVeh() {
        $('#modalCrearVehiculo').modal('toggle');
    }

    function guardarNuevoVehiculo() { 

        const matricula = document.getElementById("txtMatricula").value;
        const marca = document.getElementById("slcMarca").value;
        const modelo = document.getElementById("txtModelo").value;
        const color = document.getElementById("txtColor").value;

        const vehiculo = {
            "idMarca": parseInt(marca),
            "matricula": matricula,
            "modelo": modelo,
            "color": color,
            "idCliente": globalIdCliente
        }

        if (matricula == "" || modelo == "" || color == "") {
            Swal.fire({
                icon: 'warning',
                title: 'Debe ingresar los datos!',
                showConfirmButton: true,
            });
        } else {
            let cadenaRespuesta = "";
            let iconAlert = "";
            fetch(urlBackend + "/vehiculos",
                {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + token + ''
                    },
                    method: "POST",
                    body: JSON.stringify(vehiculo)
                }).then(response => {
                    if (!response.ok) {
                        response.text().then(text => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Hubo un error al crear!',
                                text: text,
                                showConfirmButton: true,
                            });
                        })
                    } else if (response.status == 201) {
                        cadenaRespuesta = "Vehículo ingresado con el id ";
                        iconAlert = "success";
                        document.getElementById("formModal").reset();
                        cargarVehiculos(globalIdCliente);
                    } else if (response.ok) {
                        cadenaRespuesta = "El vehículo ya exsiste para el cliente, ID Vehículo ";
                        iconAlert = "warning";
                    }
                    return response.json();
                }).then(data => {
                    Swal.fire({
                        position: 'top-end',
                        icon: iconAlert,
                        title: cadenaRespuesta + '[' + data.idVehiculo + ']',
                        showConfirmButton: true,
                        timer: 2500
                    });
                })
                .catch(error => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Parece que no hay conexión con la base de datos!',
                        text: error,
                        showConfirmButton: true,
                    });
                }
                );
            $('#modalCrearVehiculo').modal('toggle');
        }


    }


    // Carga de inputs
    async function cargarPaises() {
        const response = await fetch(urlBackend + "/localidades/paises", { headers: { Authorization: 'Bearer ' + token + '' } });
        const paises = await response.json();
        const select = document.getElementById("selectPais");
        select.innerHTML = "<option value='0'>Seleccione...</option>";
        paises.forEach(p => {
            const option = document.createElement('option');
            option.text = p.nombre;
            option.value = p.idPais;
            select.add(option);
        });
    }

    async function cargarCiudades() {
        const response = await fetch(urlBackend + "/localidades/ciudades", { headers: { Authorization: 'Bearer ' + token + '' } });
        const ciudades = await response.json();
        const select = document.getElementById("selectCiudad");
        select.innerHTML = "<option value='0'>Seleccione...</option>";
        ciudades.forEach(p => {
            const option = document.createElement('option');
            option.text = p.nombre;
            option.value = p.idCiudad;
            select.add(option);
        });
    }

    async function cargarLocalidades() {
        const response = await fetch(urlBackend + "/localidades/localidades", { headers: { Authorization: 'Bearer ' + token + '' } });
        const localidades = await response.json();
        const select = document.getElementById("selectLocalidad");
        select.innerHTML = "<option value='0'>Seleccione...</option>";
        localidades.forEach(p => {
            const option = document.createElement('option');
            option.text = p.nombre;
            option.value = p.idLocalidad;
            select.add(option);
        });
    }

    async function cargarTipoCliente() {
        const response = await fetch(urlBackend + "/clientes/tipoClientes", { headers: { Authorization: 'Bearer ' + token + '' } });
        const tipo = await response.json();
        const select = document.getElementById("selectTipoSocio");
        select.innerHTML = "<option value=''>Seleccione...</option>";
        tipo.forEach(p => {
            const option = document.createElement('option');
            option.text = p.nombre;
            option.value = p.idTipo;
            select.add(option);
        });
    }

    async function cargarAfiliaciones() {
        const response = await fetch(urlBackend + "/afiliaciones", { headers: { Authorization: 'Bearer ' + token + '' } });
        const afiliaciones = await response.json();
        const select = document.getElementById("selectAfiliacion");
        select.innerHTML = "<option value=''>Seleccione...</option>";
        afiliaciones.forEach(p => {
            const option = document.createElement('option');
            option.text = p.nombre;
            option.value = p.idAfiliacion;
            select.add(option);
        });
    }

    async function cargarConvenios() {
        const response = await fetch(urlBackend + "/convenios", { headers: { Authorization: 'Bearer ' + token + '' } });
        const convenios = await response.json();
        const select = document.getElementById("selectConvenio");
        select.innerHTML = "<option value=''>Seleccione...</option>";
        convenios.forEach(p => {
            const option = document.createElement('option');
            option.text = p.nombre;
            option.value = p.idConvenio;
            select.add(option);
        });
    }

    async function cargarMarcas() {
        const inputModalMarcas = document.getElementById("slcMarca");
        const marcas = JSON.parse(localStorage.getItem("marcas"));

        marcas.forEach(p => {
            const option = document.createElement('option');
            option.text = p.nombre;
            option.value = p.idMarca;
            inputModalMarcas.add(option);
        });
    }


    document.getElementById("aTabVehiculos").addEventListener('click', () => {
        detalleMisVehiculos.columns.adjust();
    });

</script>

<style>
    th {
        text-align: center !important;
    }
</style>