<!doctype html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LOGIN</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/js-snackbar.min.css">
</head>

<body data-bvite="theme-CeruleanBlue" class="layout-border svgstroke-a layout-default auth">

	<!-- start: main grid layout -->
	<main class="container-fluid px-0">

		<!-- start: project logo -->
		<div class="px-xl-5 px-4 auth-header" data-bs-theme="none">
			<a class="brand-icon text-decoration-none d-flex align-items-center">
				<svg width="110" height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"
					preserveAspectRatio="xMidYMid meet" version="1.0">
					<g class="layer">
						<title>Layer 1</title>
						<g fill="var(--primary-color)" id="svg_1" transform="matrix(0.026878 0 0 -0.026878 32 45.3357)">
							<path
								d="m1784.59,1245.31c-13,-197 -27,-344 -30,-328c-4,17 -19,47 -33,68c-14,21 -29,47 -32,57c-10,30 -100,67 -262,105c-63,16 -171,55 -285,104c-318,138 -401,156 -718,154c-222,-1 -589,-19 -600,-29c-4,-5 15,-20 33,-27c5,-1 -8,-20 -29,-42c-82,-87 -94,-111 -94,-189c0,-52 -6,-83 -20,-111c-28,-56 -27,-130 2,-149c22,-13 150,-56 169,-56c5,0 9,18 9,40c0,83 59,158 142,180c117,32 245,-85 222,-205l-6,-35l476,0l476,0l0,55c0,96 46,158 135,185c54,16 113,0 162,-43c45,-39 63,-82 63,-147l0,-50l69,0c76,0 85,5 107,67l13,38l1,-51c0,-28 -3,-72 -6,-98l-7,-46l-151,0l-151,0l37,25c67,45 87,152 40,214c-33,44 -69,64 -124,69c-44,3 -59,0 -87,-20c-51,-34 -73,-71 -78,-125c-5,-59 18,-108 66,-140l34,-23l-599,0l-599,0l33,20c52,32 74,75 70,140c-5,65 -26,99 -81,131c-47,26 -124,23 -165,-8c-89,-67 -87,-207 4,-264c17,-10 41,-19 53,-19c82,0 -51,-29 -552,-122l-572,-105l2,-29c6,-76 28,-99 84,-87c20,4 37,16 48,34l16,29l383,0l382,0l0,25c0,20 -5,25 -26,25c-24,0 -25,2 -22,47c3,52 7,54 107,68l51,7l0,-49c0,-36 7,-58 26,-87c22,-31 25,-45 20,-78c-10,-59 2,-108 25,-108c18,0 19,11 21,173c1,94 3,151 5,125c3,-34 8,-48 19,-48c18,0 18,-26 -1,-79l-14,-41l27,0c24,0 30,6 47,57c14,39 26,59 40,63c11,3 40,18 63,34c77,52 214,45 267,-14c10,-11 29,-20 42,-20c16,0 27,-8 33,-26c6,-14 8,-30 5,-34c-3,-5 -3,-27 1,-49c6,-38 8,-39 28,-27c11,8 62,19 112,25c132,16 134,16 141,-19c6,-34 28,-40 36,-10c5,18 14,20 91,20c79,0 86,-2 86,-20c0,-15 7,-20 25,-20c18,0 25,5 25,20c0,13 7,20 20,20c13,0 20,-7 20,-20c0,-19 7,-20 190,-20c183,0 190,1 190,20c0,13 7,20 20,20c13,0 20,-7 20,-20c0,-24 35,-28 44,-5c8,22 336,22 336,0c0,-8 7,-15 15,-15c8,0 15,7 15,15c0,9 9,15 25,15c18,0 23,-4 19,-15c-4,-8 -1,-15 4,-15c7,0 9,17 5,48c-6,56 8,116 40,163c26,40 98,79 144,79c29,0 33,-3 33,-25c0,-22 -4,-25 -33,-25c-81,0 -152,-68 -163,-157l-4,-38l13,34c20,50 75,111 121,132c48,22 133,25 179,6c44,-19 95,-63 114,-100c8,-17 24,-60 34,-95c30,-105 32,-106 179,-96c69,4 145,7 169,6l43,-1l-5,407c-6,387 -24,733 -42,777c-5,11 -13,23 -19,27c-6,4 -176,8 -378,8c-320,0 -369,-2 -382,-16c-14,-13 -16,-65 -16,-410l0,-394l85,0c50,0 85,-4 85,-10c0,-6 -45,-10 -115,-10l-115,0l0,470l0,470l-98,0l-98,0l-24,-357zm940,132c0,-8 -7,-15 -15,-15c-23,0 -22,-255 1,-268c10,-6 14,-19 12,-38c-3,-28 -5,-29 -48,-25c-58,4 -80,13 -172,69l-78,47l0,122l0,123l150,0c127,0 150,-2 150,-15zm76,-6c16,-17 20,-46 28,-175c5,-85 8,-156 5,-158c-2,-2 -24,-6 -49,-7l-45,-4l0,182c0,179 0,183 21,183c11,0 29,-9 40,-21zm-2171,-84c4,-47 5,-89 1,-92c-6,-6 -344,15 -408,26l-38,6l48,72l47,73l172,0l171,0l7,-85zm209,45c155,-39 262,-92 290,-142c25,-44 15,-60 -17,-30c-27,25 -57,29 -57,7c0,-10 -10,-15 -27,-15c-48,1 -313,27 -318,31c-5,6 -25,128 -25,157c0,29 10,28 154,-8zm-696,-396c31,-20 55,-78 47,-114c-9,-39 -50,-78 -92,-86c-104,-20 -173,106 -101,184c42,45 93,51 146,16zm1282,11c93,-48 93,-166 1,-205c-73,-30 -151,24 -151,104c0,49 21,83 64,102c40,17 51,17 86,-1zm-1670,-440l0,-45l-232,1c-128,1 -224,4 -213,6c36,7 430,81 438,82c4,1 7,-19 7,-44z"
								id="svg_2" />
							<path
								d="m291.59,549.31c-84,-27 -146,-108 -147,-193c0,-50 40,-133 77,-160c122,-89 291,-28 322,116c32,147 -111,282 -252,237zm145,-104c57,-57 46,-163 -20,-197c-82,-42 -170,-8 -192,74c-14,51 10,114 54,142c47,29 118,20 158,-19z"
								id="svg_3" />
							<path
								d="m317.59,422.31c-46,-19 -57,-83 -20,-118c43,-41 109,-19 123,40c5,22 0,33 -24,58c-32,31 -43,34 -79,20z"
								id="svg_4" />
							<path
								d="m2232.59,552.31c-47,-14 -88,-44 -115,-84c-22,-30 -28,-52 -31,-105c-3,-79 20,-129 83,-173c123,-87 298,-7 313,142c13,140 -121,259 -250,220zm118,-89c66,-40 80,-129 28,-190c-100,-119 -288,21 -201,150c40,60 113,77 173,40z"
								id="svg_5" />
							<path
								d="m2240.59,411.31c-50,-39 -24,-129 38,-129c37,0 76,37 76,71c0,34 -39,79 -68,79c-11,0 -31,-9 -46,-21z"
								id="svg_6" />
						</g>
					</g>
				</svg>
				<span class="fw-bold ps-2 fs-5 text-gradient">CAR-UP</span>
			</a>
		</div>

		<!-- start: page menu link -->
		<aside class="px-xl-5 px-4 auth-aside" style="justify-content: flex-end;">
			<div style="margin-right: 10px;">
				<h1 class="signText">CAR</h1>
				<svg height="90" width="90" class="point">
					<circle cx="50" cy="50" r="30" fill="grey" />
				</svg>
				<h1 class="signText">UP</h1>
			</div>
		</aside>

		<!-- start: page body area -->
		<div class="px-xl-5 px-4 auth-body">
			<form id="formLogin" method="POST" action="/login">
				<ul class="row g-3 list-unstyled li_animate">
					<li class="col-12">
						<h1 class="h2 title-font">Bienvenido a CARUP</h1>
						<p>Tu panel de administrador</p>
					</li>
					<li class="col-12">
						<label class="form-label">Email</label>
						<input type="email" id="txtEmail" name="username" class="form-control form-control-lg"
							placeholder="Ingrese su usuario">
					</li>
					<li class="col-12">
						<div class="form-label">
							<span class="d-flex justify-content-between align-items-center">
								Contraseña
								<!--<a class="text-primary" href="/">Olvidaste la clave?</a>-->
							</span>
						</div>
						<input type="password" id="txtPassword" name="password" class="form-control form-control-lg"
							placeholder="Ingrese la contraseña">
					</li>
					<% if (error) { %>
						<p style="color: red;">
							<%= error %>
						</p>
						<% } %>
							<li class="col-12">
								<div class="form-check fs-5">
									<input class="form-check-input" type="checkbox" value="" id="Rememberme">
									<label class="form-check-label fs-6" for="Rememberme">Recordar este
										Dispositivo</label>
								</div>
							</li>
							<li class="col-12 my-lg-4">
								<input type="submit" id="btnLogin" value="ENTRAR"
									class="btn btn-lg w-100 btn-primary text-uppercase mb-2">
									<a class="btn btn-lg w-100 btn-secondary" style="margin-top:10px" href="/descargaApk">Descargar APP</a>
							</li>

				</ul><!--[ ul.row end ]-->
			</form>
		</div>
		<!-- start: page footer -->
		<footer class="px-xl-5 px-4">
			<p class="mb-0 text-muted">© <a href="/" target="_blank" title="Fguzzo">Federico G.</a> All Rights
				Reserved.</p>
		</footer>
	</main>
	<% if (usrName) { %>
		<script>document.getElementById("txtEmail").value = "<%= usrName %>";</script>
		<% } %>
</body>

</html>
<script src="/js/js-snackbar.min.js"></script>
<script>
	document.getElementById("btnLogin").addEventListener("click", function (event) {
		event.preventDefault()
		const txtNom = document.getElementById("txtEmail");
		const txtPs = document.getElementById("txtPassword");


		if (txtNom.value != "" && txtPs.value != "") {
			document.getElementById("formLogin").submit();
		} else {
			SnackBar({
				message: "Debe ingresar los datos...",
				status: "warning",
				timeout: 2500,
				icon: "warn",
				position: "tc",
				width: "400px"
			});
		}
	});


</script>
<style>
	@font-face {
		font-family: "CarUp";
		src: url('/fonts/good_timing_bd.otf');
	}

	.signText {
		font-size: 200px;
		color: grey;
		margin-bottom: 0;
		line-height: 200px;
		font-family: "CarUp";
	}

	.point {
		position: relative;
		right: 13px;
		top: -5px;

	}
</style>